<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mushroom Classification</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="title">
        <h2>Mushroom Classification ML App</h2>
    </div>
    <div class="subtitle">
        <h3>Find out if your Mushroom is "Poisonous" or "Edible"</h3>
    </div>
    <div class="var">
        <form action="/result" method="post">
            <div class="var1">
                <label for="Cap-Shape">Cap-Shape :</label>
                <select id="Cap-Shape" name="Cap-Shape">
                    <option value="0">Select</option>
                    <option value="1.029712">Convex - x</option>
                    <option value="-0.840343">Flat - f</option>
                    <option value="-0.216992">Knobbed - k</option>
                    <option value="-2.087047">Bell - b</option>
                    <option value="0.406360">Sunken - s</option>
                    <option value="-1.463695">Conical - c</option>
                </select>
            </div>
            <div class="var1">
                <label for="Cap-Surface">Cap-Surface :</label>
                <select id="Cap-Surface" name="Cap-Surface">
                    <option value="0">Select</option>
                    <option value="0.953270">Scaly - y</option>
                    <option value="0.140128">Smooth - s</option>
                    <option value="-1.486157">Fibrous - f</option>
                    <option value="-0.673015">Grooves - g</option>
                </select>
            </div>
            <div class="var1">
                <label for="Cap-Color">Cap-Color :</label>
                <select id="Cap-Color" name=" Cap-Color">
                    <option value="0">Select</option>
                    <option value="-0.198250">Brown - n</option>
                    <option value="-0.591075">Gray - g</option>
                    <option value="-0.983899">Red - e</option>
                    <option value="1.765874">Yellow - y</option>
                    <option value="1.373049">White - w</option>
                    <option value="-1.769549">Buff - b</option>
                    <option value="0.194575">Pink - p</option>
                    <option value="-1.376724">Cinnamon - c</option>
                    <option value="0.980225">Purple - u</option>
                    <option value="0.587400">Green - r</option>
                </select>
            </div>
            <div class="var1">
                <label for="Bruises">Bruises :</label>
                <select name="Bruises" id="Bruises">
                    <option value="0">Select</option>
                    <option value="-0.843230">No Bruises - f</option>
                    <option value="1.185917">Yes Bruises - t</option>
                </select>
            </div>
            <div class="var1">
                <label for="Odor">Odor :</label>
                <select name="Odor" id="Odor">
                    <option value="0">Select</option>
                    <option value="0.406562">None - n</option>
                    <option value="-1.019565">Foul - f</option>
                    <option value="1.832689">Fishy - y</option>
                    <option value="1.357313">Spicy - s</option>
                    <option value="-1.970316">Almond - a</option>
                    <option value="-0.544189">Anise - l</option>
                    <option value="0.881938">Pungent - p</option>
                    <option value="-1.494941">Creosote - c</option>
                    <option value="-0.068814">Musty - m</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Attachment">Gill-Attachment :</label>
                <select name="Gill-Attachment" id="Gill-Attachment">
                    <option value="0"> Select</option>
                    <option value="0.162896">Free -f</option>
                    <option value="-6.138869">Attached - a</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Spacing">Gill-Spacing :</label>
                <select name="Gill-Spacing" id="Gill-Spacing">
                    <option value="0"> Select</option>
                    <option value="-0.438864">Close - c</option>
                    <option value="2.278612">Crowded - w</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Size">Gill-Size :</label>
                <select name="Gill-Size" id="Gill-Size">
                    <option value="0">Select</option>
                    <option value="-0.669038">Broad - b</option>
                    <option value="1.494683">Narrow - n</option>
                </select>
            </div>
            <div class="var1">
                <label for="Gill-Color">Gill-Color :</label>
                <select name="Gill-Color" id="Gill-Color">
                    <option value="0">Select</option>
                    <option value="-1.358896">Buff - b</option>
                    <option value="0.618426">Pink - p</option>
                    <option value="1.465850">White - w</option>
                    <option value="0.053477">Brown - b</option>
                    <option value="-0.793947">Gray - g</option>
                    <option value="-0.511472">Chocolate - h</option>
                    <option value="1.183375">Purple - u</option>
                    <option value="-0.228998">Black - k</option>
                    <option value="-1.076422">Red - e</option>
                    <option value="1.748325">Yellow - y</option>
                    <option value="0.335951">Orange - o</option>
                    <option value="0.900901">Green - r</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Shape">Stalk-Shape :</label>
                <select name="Stalk-Shape" id="Stalk-Shape">
                    <option value="0">Select</option>
                    <option value="0.873511">Tapering - t</option>
                    <option value="-1.144806">Enlarging - e</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Root">Stalk-Root :</label>
                <select name="Stalk-Root" id="Stalk-Root">
                    <option value="0">Select</option>
                    <option value="-0.510790">Bulbous - b</option>
                    <option value="1.950454">Equal - e</option>
                    <option value="0.719832">Club - c</option>
                    <option value="3.181075">Rooted - r</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Surface-Above-Ring">Stalk-Surface-Above-Ring :</label>
                <select name="Stalk-Surface-Above-Ring" id="Stalk-Surface-Above-Ring">
                    <option value="0">Select</option>
                    <option value="0.683778">Smooth - s</option>
                    <option value="-0.925437">Silky - k</option>
                    <option value="-2.534652">Fibrous - f</option>
                    <option value="2.292993">Scaly - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Surface-Below-Ring">Stalk-Surface-Below-Ring :</label>
                <select name="Stalk-Surface-Below-Ring" id="Stalk-Surface-Below-Ring">
                    <option value="0">Select</option>
                    <option value="0.586385">Smooth - s</option>
                    <option value="-0.893053">Silky - k</option>
                    <option value="-2.372490">Fibrous - f</option>
                    <option value="2.065822">Scaly - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Color-Above-Ring">Stalk-Color-Above-Ring :</label>
                <select name="Stalk-Color-Above-Ring" id="Stalk-Color-Above-Ring">
                    <option value="0">Select</option>
                    <option value="0.622441">White - w</option>
                    <option value="0.096577">Pink - p</option>
                    <option value="-1.481017">Gray - g</option>
                    <option value="-0.955152">Brown - n</option>
                    <option value="-3.058611">Buff - b</option>
                    <option value="-0.429288">Orange - o</option>
                    <option value="-2.006882">Red - e</option>
                    <option value="-2.532746">Cinnamon - c</option>
                    <option value="1.148306">Yellow - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Stalk-Color-Below-Ring">Stalk-Color-Below-Ring :</label>
                <select name="Stalk-Color-Below-Ring" id="Stalk-Color-Below-Ring">
                    <option value="0">Select</option>
                    <option value="0.631991">White - w</option>
                    <option value="0.107655">Pink - p</option>
                    <option value="-1.465353">Gray - g</option>
                    <option value="-0.941017">Brown - n</option>
                    <option value="-3.038361">Buff - b</option>
                    <option value="-0.416681">Orange - o</option>
                    <option value="-1.989689">Red - e</option>
                    <option value="-2.514025">Cinnamon - c</option>
                    <option value="1.156327">Yellow - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Veil-Color">Veil-Color :</label>
                <select name="Veil-Color" id="Veil-Color">
                    <option value="0">Select</option>
                    <option value="0.142037">White - w</option>
                    <option value="-8.100146">Brown - n</option>
                    <option value="-3.979055">Orange - o</option>
                    <option value="4.263128">Yellow - y</option>
                </select>
            </div>
            <div class="var1">
                <label for="Ring-Number">Ring-Number :</label>
                <select name="Ring-Number" id="Ring-Number">
                    <option value="0">Select</option>
                    <option value="-0.256132">One - o</option>
                    <option value="3.433255">Two - t</option>
                    <option value="-3.945519">None - n</option>
                </select>
            </div>
            <div class="var1">
                <label for="Ring-Type">Ring-Type :</label>
                <select name="Ring-Type" id="Ring-Type">
                    <option value="0">Select</option>
                    <option value="0.948081">Pendant - p</option>
                    <option value="-1.272216">Evanescent - e</option>
                    <option value="-0.162067">Large - l</option>
                    <option value="-0.717142">Flaring - f</option>
                    <option value="0.393007">None - n</option>
                </select>
            </div>
            <div class="var1">
                <label for="Spore-Print-Color">Spore-Print-Color :</label>
                <select name="Spore-Print-Color" id="Spore-Print-Color">
                    <option value="0">Select</option>
                    <option value="1.428426">White - w</option>
                    <option value="-0.250471">Brown - n</option>
                    <option value="-0.670195">Black - k</option>
                    <option value="-1.089919">Chocolate - h</option>
                    <option value="0.588978">Green - r</option>
                    <option value="1.008702">Purple - u</option>
                    <option value="0.169254">Orange - o</option>
                    <option value="1.848151">Yellow - y</option>
                    <option value="-1.509643">Buff - b</option>
                </select>
            </div>
            <div class="var1">
                <label for="Population">Population :</label>
                <select name="Population" id="Population">
                    <option value="0">Select</option>
                    <option value="0.284330">Several - v</option>
                    <option value="1.083049">Solitary - y</option>
                    <option value="-0.514389">Scattered - s</option>
                    <option value="-1.313108">Numerous - n</option>
                    <option value="-2.910546">Abundant - a</option>
                    <option value="-2.111827">Clustered - c</option>
                </select>
            </div>
            <div class="var1">
                <label for="Habitat">Habitat :</label>
                <select name="Habitat" id="Habitat">
                    <option value="0">Select</option>
                    <option value="-0.877169">Woods - d</option>
                    <option value="-0.295730">Grasses - g</option>
                    <option value="1.448589">Paths - p</option>
                    <option value="0.285710">Leaves - l</option>
                    <option value="2.030028">Urban - u</option>
                    <option value="0.867149">Meadows - m</option>
                    <option value="2.611468">Waste - w</option>
                </select>
            </div>
            <br>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>

</html>